@font-face {
  font-family: 'SourceSansPro-Black';
  src: url('../fonts/SourceSansPro/SourceSansPro-Black.eot');
  src: url('../fonts/SourceSansPro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Black.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Black.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot');
  src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src: url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot');
  src: url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('../fonts/SourceSansPro/SourceSansPro-Light.eot');
  src: url('../fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Light.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Light.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url('../fonts/SourceSansPro/SourceSansPro-Semibold.eot');
  src: url('../fonts/SourceSansPro/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Semibold.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Semibold.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
  font-style: normal;
  font-weight: normal;
}
