/* =================================================================================================== */
/* < COLORS > */
/* =================================================================================================== */

/* Darks */

$acDark: #020202;
$acCoal: #333333;
$acPaleCoal: #3c3c3c;

/* Brights */
$acWhite: #ffffff;
$acLayoutGrey: #f5f5f5;
$acLabelGrey: #e6e6e6;

/* Colored */
$acCherry: #c21526;
$acDimCherry: #8e4343;



/* =================================================================================================== */
/* < FONTS > */
/* =================================================================================================== */

$acBlack: 'SourceSansPro-Black';
$acBold: 'SourceSansPro-Bold';
$acExtraLight: 'SourceSansPro-ExtraLight';
$acLight: 'SourceSansPro-Light';
$acRegular: 'SourceSansPro-Regular';
$acSemibold: 'SourceSansPro-Semibold';

/* =================================================================================================== */
/* < COMPLEX VALUES > */
/* =================================================================================================== */

/* Shadows */

$acSmoothShadow: 0 0 5px $acLabelGrey;