/* =================================================================================================== */
/* < COLORS > */
/* =================================================================================================== */

/* Darks */

// $acDark: #1D1A31;
// $acCoal: #001242;
// $acPaleCoal: #333232;

// /* Brights */
// $acWhite: #ffffff;
// $acLayoutGrey: #D1DEDE;
// $acLabelGrey: #DBDAEA;
// $acTextGrey: #503D42;

// /* Colored */
// $acCherry: #9448BC;
// $acDimCherry: #480355;

// /* Darks */

// $acDark: #020202;
// $acCoal: #333333;
// $acPaleCoal: #3c3c3c;

// /* Brights */
// $acWhite: #ffffff;
// $acLayoutGrey: #f5f5f5;
// $acLabelGrey: #e6e6e6;
// $acTextGrey: #8d8d8d;

// /* Colored */
// $acCherry: #c21526;
// $acDimCherry: #8e4343;

// Cool

// $acDark: #1D1A31;
// $acCoal: #001242;
// $acPaleCoal: #333232;

// /* Brights */
// $acWhite: #ffffff;
// $acLayoutGrey: #D1DEDE;
// $acLabelGrey: #DBDAEA;
// $acTextGrey: #503D42;

// /* Colored */
// $acCherry: #9448BC;
// $acDimCherry: #480355;

// Cool 2

$acDark: #000009;
$acCoal: #171A21;
$acPaleCoal: #464F51;

/* Brights */
$acWhite: #ffffff;
$acLayoutGrey: #D6D5C9;
$acLabelGrey: #B9BAA3;
$acTextGrey: #464F51;

/* Colored */
$acCherry: #A22C29;
$acDimCherry: #902923;


/* =================================================================================================== */
/* < FONTS > */
/* =================================================================================================== */

$acBlack: 'SourceSansPro-Black';
$acBold: 'SourceSansPro-Bold';
$acExtraLight: 'SourceSansPro-ExtraLight';
$acLight: 'SourceSansPro-Light';
$acRegular: 'SourceSansPro-Regular';
$acSemibold: 'SourceSansPro-Semibold';

/* =================================================================================================== */
/* < COMPLEX VALUES > */
/* =================================================================================================== */

/* Shadows */

$acSmoothShadow: 0 0 8px $acLabelGrey;