.ac-center {
	margin: 20px;
	box-shadow: $acSmoothShadow;
	.center-header {
		background-color: $acCoal;
		color: $acWhite;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding: 20px;
		cursor: pointer;
		position: relative;
		span {
			display: flex;
			width: 100%;
			margin: 3px 0;
			font-size: 0.7em;
		}
		h2 {
			margin: 3px 0;
			display: flex;
			width: 100%;
			font-size: 1em;
		}
	}
	.center-address {
		background-color: $acPaleCoal;
		color: $acWhite;
		font-family: $acExtraLight;
		padding: 20px;
		p {
			margin: 0;
			font-size: 0.7em;
		}
	}
	.center-footer {
		background-color: $acWhite;
		padding: 20px;
		display: flex;
		&>div {
			height: 45px;
		}
		p {
			margin: 4px 0;
			font-size: 0.7em;
			text-align: center;
		}
		.delimeter {
			background-color: $acLabelGrey;
			width: 1.5px;
		}
	}
}