.ac-employee {
	margin: 20px;
	box-shadow: 0 0 8px $acLabelGrey;
	height: 75px;
	background-color: $acPaleCoal;
	&>img, &>div {
		display: inline-block;
		height: 100%;
	}
	.image-filler {
		width: 75px;
		background-color: $acDimCherry;
	}
}