.ac-footer {
	position: absolute;
	bottom: 0;
	height: 55px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.footer-link {
		text-decoration: none;
		display: inline-flex;
		justify-content: center;
		font-size: 0.8em;
		height: 50px;
		width: 100%;
		align-items: center;
		cursor: pointer;
	}
	.svg-person {
		display: inline-block;
		width: 12px;
		height: 12px;
		margin-right: 10px;
		margin-top: 3px;
	}
	&.white {
		background-color: $acWhite;
		.footer-link {
			color: $acDark;
		}
	}
	&.coal {
		background-color: $acCoal;
		.footer-link {
			color: $acWhite;
		}
		.svg-person {
			g {
				fill: $acWhite;
			}
		}
	}
	&.cherry {
		background-color: $acCherry;
		.footer-link {
			color: $acWhite;
		}
	}
}