.ac-footer {
	position: absolute;
	bottom: 0;
	height: 55px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.footer-link {
		text-decoration: none;
		display: inline-flex;
		justify-content: center;
		font-size: 0.7em;
		height: 50px;
		width: 100%;
		align-items: center;
		cursor: pointer;
	}
	.footer-link.double {
		height: 55px;
		border-left: 1px solid $acLabelGrey;
		&.cherry {
			background-color: $acCherry;
			border-left: none;
		}
	}
	.svg-person {
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-right: 10px;
	}
	.svg-checkbox-checked {
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-right: 10px;
		g {
			fill: $acWhite;
		}
	}
	.svg-lock {
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-right: 10px;
		g {
			fill: $acWhite;
		}
	}
	.svg-checkbox-plus, .svg-checkbox-delete {
		display: inline-block;
		width: 16px;
		margin-right: 10px;
		.cls-1 {
			fill: none;
			stroke: $acWhite;
			stroke-linecap: round;
			stroke-miterlimit: 10;
		}
	}
	&.white {
		background-color: $acWhite;
		.footer-link {
			color: $acDark;
		}
	}
	&.coal {
		background-color: $acCoal;
		.footer-link {
			color: $acWhite;
		}
		.svg-person {
			g {
				fill: $acWhite;
			}
		}
	}
	&.cherry {
		background-color: $acCherry;
		.footer-link {
			color: $acWhite;
		}
	}
}