.ac-header {
	background-color: $acDark;
	margin: 0 0 15px 0;
	height: 56px;
	padding-left: 20px;
	display: flex;
	align-items: center;
	position: relative;
	h3 {
		color: $acWhite;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}
	.back-link {
		position: absolute;
		right: 20px;
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: middle;
	}
	.svg-arrow-left {
		display: inline-block;
		width: 20px;
		height: 20px;
    .cls-1 {
      fill: none;
      stroke: $acWhite;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
	}
}