.ac-header {
	background-color: $acDark;
	margin: 0;
	height: 56px;
	padding-left: 20px;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	top: 0;
	h3 {
		color: $acWhite;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}
	.back-link {
		position: absolute;
		right: 10px;
		width: 40px;
		height: 40px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}
	.svg-arrow-left {
		top: 10px;
		right: 10px;
    .cls-1 {
      stroke: $acWhite;
    }
	}
}