.ac-service {
	margin-bottom: 20px;
	display: flex;
	align-items: flex-start;
	padding: 20px 20px 20px 0;
	background-color: $acWhite;
	box-shadow: $acSmoothShadow;
	&.single {
		display: flex;
		align-items: center;
		padding-left: 20px;
		padding-right: 50px;
		cursor: pointer;
		position: relative;
		.svg-arrow-right {
			.cls-1 {
				stroke: $acDark;
			}
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
	.service-checkbox {
		display: inline-flex;
		height: 100%;
		align-items: center;
		align-content: center;
		justify-content: center;
		cursor: pointer;
		svg {
			width: 25px;
			height: 25px;
			margin: 20px;
		}
	}
	.service-info {
		display: inline-flex;
		height: 100%;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		padding-right: 20px;
		p {
			width: 100%;
			margin: 0;
		}
		.service-title {
			font-family: $acSemibold;
			margin-bottom: 4px;
		}
		.service-price {
			display: inline-block;
			font-family: $acSemibold;
			font-size: 0.9em;
			margin-right: 15px;
		}
		.service-time {
			display: inline-block;
			font-size: 0.8em;
		}
	}
}