#choose_date_time {
	.ac-content {
		padding-top: 0;
	}
	.top-slider {
		height: 75px;
		background-color: $acCoal;
		color: $acWhite;
		.slick-list, .slick-track {
			height: 100%;
		}
	}
	.slick-arrow {
		position: absolute;
		&.slick-prev {
			left: 5px;
		}
		&.slick-next {
			right: 5px;
		}
	}
	.slick-slide.month {
		span {
			display: block;
			text-align: center;
			font-family: $acLight;
			transition: all 0.3s;
		}
		.month-name {
			font-size: 0.8em;
			margin-top: 29px;
		}
		.month-year {
			color: transparent;
			font-size: 0.7em;
		}
	}
	.slick-center.month {
		background-color: $acPaleCoal;
		.month-name {
			font-size: 1.2em;
			margin-top: 17px;
			margin-bottom: 6px;
		}
		.month-year {
			color: transparentize($acWhite, 0.5);
		}
	}
	.bottom-slider {
		.slick-slide {
			padding: 30px 20px;
			box-sizing: border-box;
		}
		table {
			width: 100%;
			td {
				vertical-align: middle;
				text-align: center;
				transition: all 0.3s;
				span {
					display: block;
					margin: 0 auto;
					padding: 10px;
					width: 36px;
					height: 100%;
					box-sizing: border-box;
					cursor: pointer;
				}
			}
			.day5, .day6 {
				color: $acDimCherry;
			}
			.available span {
				background-color: $acLabelGrey;
			}
			.chosen span {
				background-color: $acDimCherry;
				color: $acWhite;
				border-radius: 50%;
			}
			.available.chosen span {
				background-color: $acCherry;
			}
			.past span {
				cursor: default;
				color: $acLabelGrey;
			}
		}
	}
	.slider-arrows {
		.svg-arrow-left, .svg-arrow-right {
			position: absolute;
			top: 72px;
			z-index: 500;
			padding: 10px;
			cursor: pointer;
			user-select: none;
			.cls-1 {
				stroke: $acWhite;
			}
		}
		.svg-arrow-left {
			left: 0;
		}
		.svg-arrow-right {
			right: 0;
		}
	}
}