#choose_main_services {
	.svg-arrow-right {
		.cls-1 {
			stroke: $acDark;
		}
	}
	.service-link {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background-color: $acWhite;
		box-shadow: $acSmoothShadow;
		margin-bottom: 20px;
		height: 70px;
		padding-left: 20px;
		font-family: $acSemibold;
		color: $acDark;
		text-decoration: none;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
	}
}