#choose_employee {
	.svg-info {
		display: inline-block;
		width: 12px;
		height: 12px;
		g {
			fill: $acWhite;
		}
	}
	.svg-arrow-right {
		display: inline-block;
		width: 20px;
		height: 20px;
		position: absolute;
		right: 20px;
    .cls-1 {
      fill: none;
      stroke: $acWhite;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
	}
}