#choose_center {
	.svg-arrow-right {
    .cls-1 {
      stroke: $acWhite;
    }
	}
	.svg-list {
		width: 16px;
		height: 16px;
		margin-right: 10px;
		.cls-1 {
      fill: none;
      stroke: #000;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-width: 2px;
		}
	}
	.svg-map {
		width: 18px;
		height: 18px;
		margin-right: 10px;
    .cls-1 {
      opacity: 1;
    }
    .cls-2 {
      fill: none;
      stroke: #000;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
	}
	.ac-subheader {
		background-color: $acWhite;
		display: flex;
		padding: 8px 0;
		align-items: center;
		justify-content: space-around;	
		height: 65px;
		box-sizing: border-box;
		.ac-subheader-option {
			display: inline-flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			font-size: 0.7em;
			font-family: $acSemibold;
			opacity: 0.2;
			cursor: pointer;
			&.active {
				opacity: 1;
				cursor: default;
			}
		}
		.ac-subheader-delimiter {
			height: 100%;
			width: 2px;
			background-color: $acLabelGrey;
		}
	}
}