#online_appointment, #appointments_list {
	background-color: $acLayoutGrey;
	.main-link {
		display: flex;
		position: relative;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: 20px;
		background-color: $acWhite;
		height: 70px;
		padding: 0 50px 0 20px;
		box-sizing: border-box;
		border-left: 5px solid $acLabelGrey;
		color: $acTextGrey;
		text-decoration: none;
		box-shadow: $acSmoothShadow;
		cursor: pointer;
		&:last-child {
			margin-bottom: 0;
		}
		.svg-arrow-right {
	    .cls-1 {
	      stroke: $acLabelGrey;	    
	    }
		}
		&.chosen {
			border-left: 5px solid $acCherry;
			color: $acDark;
			.svg-arrow-right {
				.cls-1 {
					stroke: $acDark;
				}
			}
		}
		&.services.chosen {
			height: auto;
			padding: 20px 50px 20px 20px;
		}
		&.disabled {
			cursor: default;
			border-left: 5px solid transparentize($acLabelGrey, 0.6);
			box-shadow: none;
			color: $acLabelGrey;
		}
		span {
			display: block;
			margin: 3px 0;
			width: 100%;
		}
		span.info-text {
			font-size: 0.7em;
			line-height: 1.2;
		}
	}
	.bg-white {
		margin: -20px;
		margin-bottom: 20px;
		padding: 20px;
		background-color: $acWhite;
	}
}