#online_appointment {
	background-color: $acLayoutGrey;
	.main-link {
		display: flex;
		position: relative;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: 20px;
		background-color: $acWhite;
		padding: 20px 50px 20px 20px;
		box-sizing: border-box;
		border-left: 5px solid $acLabelGrey;
		color: $acTextGrey;
		text-decoration: none;
		box-shadow: 0 0 8px $acLabelGrey;
		&:last-child {
			margin-bottom: 0;
		}
		.svg-arrow-right {
	    .cls-1 {
	      stroke: $acLabelGrey;	    
	    }
		}
		&.chosen {
			border-left: 5px solid $acCherry;
			color: $acDark;
			.svg-arrow-right {
				.cls-1 {
					stroke: $acDark;
				}
			}
		}
		span {
			display: block;
			margin: 3px 0;
			width: 100%;
		}
		span.info-text {
			font-size: 0.7em;
			line-height: 1.2;
		}
	}
}