#ac_layout {
	position: relative;
	display: inline-block;
	&>div {
		width: 375px;
		height: 667px;
		border: 2px solid $acLabelGrey;
		background-color: $acLayoutGrey;
		position: relative;
	}
	.app-switch {
		display: inline-block;
		width: 30px;
		height: 30px;
		position: absolute;
		right: -45px;
		top: 15px;
		border-radius: 50%;
		border: 2px solid $acDark;
		color: $acDark;
		font-size: 29px;
		text-align: center;
		text-decoration: none;
		transform: rotate(45deg);
	}
}