/* Base */
/* =================================================================================================== */
/* < COLORS > */
/* =================================================================================================== */
/* Darks */
/* Brights */
/* Colored */
/* =================================================================================================== */
/* < FONTS > */
/* =================================================================================================== */
/* =================================================================================================== */
/* < COMPLEX VALUES > */
/* =================================================================================================== */
/* Shadows */
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
@font-face {
  font-family: 'SourceSansPro-Black';
  src: url("../fonts/SourceSansPro/SourceSansPro-Black.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Black.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Black.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Black.svg#SourceSansPro-Black") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Bold") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src: url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../fonts/SourceSansPro/SourceSansPro-Light.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Light.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Light.svg#SourceSansPro-Light") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url("../fonts/SourceSansPro/SourceSansPro-Semibold.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Semibold.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Semibold.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format("svg");
  font-style: normal;
  font-weight: normal; }

/* =================================================================================================== */
/* < COMMON STYLING > */
/* =================================================================================================== */
#_ac_root {
  /* Containers */
  /* Components */
  /* Slick */
  display: inline-block;
  position: absolute;
  top: 0;
  text-align: left;
  right: 0;
  z-index: 10005;
  height: 100%;
  font-family: "SourceSansPro-Regular";
  font-size: 16px;
  line-height: 1;
  color: #020202; }
  #_ac_root #ac_layout {
    position: relative;
    display: inline-block;
    height: 100%; }
    #_ac_root #ac_layout > div {
      width: 375px;
      height: 667px;
      border: 2px solid #e6e6e6;
      background-color: #f5f5f5;
      position: relative;
      overflow: hidden;
      height: 100%;
      padding-top: 56px;
      padding-bottom: 55px;
      box-sizing: border-box; }
      #_ac_root #ac_layout > div#choose_main_services, #_ac_root #ac_layout > div#choose_services {
        padding-bottom: 0; }
      #_ac_root #ac_layout > div#choose_main_services.has-services, #_ac_root #ac_layout > div#choose_services.has-services {
        padding-bottom: 55px; }
    #_ac_root #ac_layout .app-switch {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      right: -45px;
      top: 15px;
      border-radius: 50%;
      border: 2px solid #020202;
      color: #020202;
      font-size: 29px;
      text-align: center;
      text-decoration: none;
      transform: rotate(45deg); }
  #_ac_root #online_appointment, #_ac_root #appointments_list {
    background-color: #f5f5f5; }
    #_ac_root #online_appointment .main-link, #_ac_root #appointments_list .main-link {
      display: flex;
      position: relative;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 20px;
      background-color: #ffffff;
      height: 70px;
      padding: 0 50px 0 20px;
      box-sizing: border-box;
      border-left: 5px solid #e6e6e6;
      color: #8d8d8d;
      text-decoration: none;
      box-shadow: 0 0 8px #e6e6e6;
      cursor: pointer; }
      #_ac_root #online_appointment .main-link:last-child, #_ac_root #appointments_list .main-link:last-child {
        margin-bottom: 0; }
      #_ac_root #online_appointment .main-link .svg-arrow-right .cls-1, #_ac_root #appointments_list .main-link .svg-arrow-right .cls-1 {
        stroke: #e6e6e6; }
      #_ac_root #online_appointment .main-link.chosen, #_ac_root #appointments_list .main-link.chosen {
        border-left: 5px solid #c21526;
        color: #020202; }
        #_ac_root #online_appointment .main-link.chosen .svg-arrow-right .cls-1, #_ac_root #appointments_list .main-link.chosen .svg-arrow-right .cls-1 {
          stroke: #020202; }
      #_ac_root #online_appointment .main-link.services.chosen, #_ac_root #appointments_list .main-link.services.chosen {
        height: auto;
        padding: 20px 50px 20px 20px; }
      #_ac_root #online_appointment .main-link.disabled, #_ac_root #appointments_list .main-link.disabled {
        cursor: default;
        border-left: 5px solid rgba(230, 230, 230, 0.4);
        box-shadow: none;
        color: #e6e6e6; }
      #_ac_root #online_appointment .main-link span, #_ac_root #appointments_list .main-link span {
        display: block;
        margin: 3px 0;
        width: 100%; }
      #_ac_root #online_appointment .main-link span.info-text, #_ac_root #appointments_list .main-link span.info-text {
        font-size: 0.7em;
        line-height: 1.2; }
    #_ac_root #online_appointment .bg-white, #_ac_root #appointments_list .bg-white {
      margin: -20px;
      margin-bottom: 20px;
      padding: 20px;
      background-color: #ffffff; }
  #_ac_root #choose_center .svg-arrow-right .cls-1 {
    stroke: #ffffff; }
  #_ac_root #choose_employee .svg-info {
    display: inline-block;
    width: 16px;
    height: 16px; }
    #_ac_root #choose_employee .svg-info g {
      fill: #ffffff; }
  #_ac_root #choose_employee .svg-arrow-right .cls-1 {
    stroke: #ffffff; }
  #_ac_root #employee_info .employee-photo {
    text-align: center;
    margin: 0 auto 20px auto;
    width: 100px; }
    #_ac_root #employee_info .employee-photo img {
      width: 100%;
      border-radius: 50%; }
  #_ac_root #employee_info .image-filler {
    width: 100px;
    height: 100px;
    border-radius: 50%; }
    #_ac_root #employee_info .image-filler span {
      margin-top: 6px; }
  #_ac_root #employee_info .employee-specialization, #_ac_root #employee_info .employee-name {
    text-align: center;
    margin-bottom: 20px; }
  #_ac_root #employee_info .employee-specialization {
    font-size: 0.8em;
    margin: 20px 0 7px 0; }
  #_ac_root #employee_info h3.employee-name {
    font-family: "SourceSansPro-Regular";
    margin: 7px 0 30px 0; }
  #_ac_root #employee_info .employee-description {
    font-size: 0.9em;
    line-height: 1.25;
    color: #333333; }
  #_ac_root #choose_main_services .svg-arrow-right .cls-1 {
    stroke: #020202; }
  #_ac_root #choose_main_services .service-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    box-shadow: 0 0 8px #e6e6e6;
    margin-bottom: 20px;
    height: 70px;
    padding-left: 20px;
    font-family: "SourceSansPro-Semibold";
    color: #020202;
    text-decoration: none;
    position: relative; }
    #_ac_root #choose_main_services .service-link:last-child {
      margin-bottom: 0; }
  #_ac_root #ac_layout #confirm_services {
    padding-bottom: 125px; }
    #_ac_root #ac_layout #confirm_services #services_summary {
      position: absolute;
      bottom: 55px;
      background-color: #ffffff;
      height: 70px;
      width: 100%; }
      #_ac_root #ac_layout #confirm_services #services_summary .summary-price, #_ac_root #ac_layout #confirm_services #services_summary .summary-time {
        display: inline-block;
        padding: 16px 17px 18px 17px; }
        #_ac_root #ac_layout #confirm_services #services_summary .summary-price span, #_ac_root #ac_layout #confirm_services #services_summary .summary-time span {
          display: block;
          font-size: 1.1em; }
        #_ac_root #ac_layout #confirm_services #services_summary .summary-price span.label, #_ac_root #ac_layout #confirm_services #services_summary .summary-time span.label {
          color: #020202;
          margin: 4px 0;
          font-size: 0.7em; }
      #_ac_root #ac_layout #confirm_services #services_summary .summary-price {
        float: left; }
      #_ac_root #ac_layout #confirm_services #services_summary .summary-time {
        float: right; }
  #_ac_root #choose_date_time .ac-content {
    padding-top: 0; }
  #_ac_root #choose_date_time .top-slider {
    height: 75px;
    background-color: #333333;
    color: #ffffff; }
    #_ac_root #choose_date_time .top-slider .slick-list, #_ac_root #choose_date_time .top-slider .slick-track {
      height: 100%; }
  #_ac_root #choose_date_time .slick-slide.month span {
    display: block;
    text-align: center;
    font-family: "SourceSansPro-Light";
    transition: all 0.3s; }
  #_ac_root #choose_date_time .slick-slide.month .month-name {
    font-size: 0.8em;
    margin-top: 29px; }
  #_ac_root #choose_date_time .slick-slide.month .month-year {
    color: transparent;
    font-size: 0.7em; }
  #_ac_root #choose_date_time .slick-center.month {
    background-color: #3c3c3c; }
    #_ac_root #choose_date_time .slick-center.month .month-name {
      font-size: 1.2em;
      margin-top: 17px;
      margin-bottom: 6px; }
    #_ac_root #choose_date_time .slick-center.month .month-year {
      color: rgba(255, 255, 255, 0.5); }
  #_ac_root #choose_date_time .bottom-slider .slick-slide {
    padding: 30px 20px;
    box-sizing: border-box; }
  #_ac_root #choose_date_time .bottom-slider table {
    width: 100%; }
    #_ac_root #choose_date_time .bottom-slider table td {
      vertical-align: middle;
      text-align: center;
      transition: all 0.3s; }
      #_ac_root #choose_date_time .bottom-slider table td span {
        display: block;
        margin: 0 auto;
        padding: 10px;
        width: 36px;
        height: 100%;
        box-sizing: border-box;
        color: #8d8d8d;
        cursor: default; }
    #_ac_root #choose_date_time .bottom-slider table td.available {
      cursor: pointer; }
    #_ac_root #choose_date_time .bottom-slider table .available span {
      color: #020202;
      font-family: "SourceSansPro-Regular";
      cursor: pointer; }
    #_ac_root #choose_date_time .bottom-slider table .available:hover span {
      background-color: #c21526;
      color: #ffffff;
      border-radius: 50%; }
  #_ac_root #choose_date_time .slider-arrows .svg-arrow-left-slider, #_ac_root #choose_date_time .slider-arrows .svg-arrow-right-slider {
    position: absolute;
    top: 72px;
    z-index: 500;
    padding: 10px;
    cursor: pointer;
    user-select: none; }
    #_ac_root #choose_date_time .slider-arrows .svg-arrow-left-slider .cls-1, #_ac_root #choose_date_time .slider-arrows .svg-arrow-right-slider .cls-1 {
      stroke: #ffffff; }
  #_ac_root #choose_date_time .slider-arrows .svg-arrow-left-slider {
    left: 0; }
  #_ac_root #choose_date_time .slider-arrows .svg-arrow-right-slider {
    right: 0; }
  #_ac_root #choose_date_time .appointment-available, #_ac_root #choose_date_time .appointment-unavailable {
    display: block;
    margin: 10px 0;
    font-size: 0.9em; }
  #_ac_root #choose_date_time .appointment-available {
    font-family: "SourceSansPro-Regular"; }
  #_ac_root #choose_date_time .appointment-unavailable {
    font-family: "SourceSansPro-Light";
    color: #8d8d8d; }
  #_ac_root #certain_date .top-slider {
    height: 90px;
    background-color: #333333;
    color: #ffffff; }
    #_ac_root #certain_date .top-slider .slick-list, #_ac_root #certain_date .top-slider .slick-track {
      height: 100%; }
  #_ac_root #certain_date .slick-slide span {
    display: block;
    text-align: center;
    font-family: "SourceSansPro-Light";
    transition: all 0.3s;
    color: transparent; }
  #_ac_root #certain_date .slick-slide .date-month-name, #_ac_root #certain_date .slick-slide .date-name {
    font-size: 0.7em; }
  #_ac_root #certain_date .slick-slide .date-month-name {
    margin-top: 16px; }
  #_ac_root #certain_date .slick-slide .date-date {
    font-size: 1.2em;
    margin: 4px 0; }
  #_ac_root #certain_date .slick-slide.slick-active.date span {
    color: rgba(255, 255, 255, 0.5); }
  #_ac_root #certain_date .slick-slide.slick-center.date {
    background-color: #3c3c3c; }
    #_ac_root #certain_date .slick-slide.slick-center.date span {
      color: #ffffff; }
  #_ac_root #certain_date .slider-arrows .svg-arrow-left-slider, #_ac_root #certain_date .slider-arrows .svg-arrow-right-slider {
    position: absolute;
    top: 79px;
    z-index: 500;
    padding: 10px;
    cursor: pointer;
    user-select: none; }
    #_ac_root #certain_date .slider-arrows .svg-arrow-left-slider .cls-1, #_ac_root #certain_date .slider-arrows .svg-arrow-right-slider .cls-1 {
      stroke: #ffffff; }
  #_ac_root #certain_date .slider-arrows .svg-arrow-left-slider {
    left: 0; }
  #_ac_root #certain_date .slider-arrows .svg-arrow-right-slider {
    right: 0; }
  #_ac_root #certain_date .bottom-slider .date-segment {
    margin: 20px; }
  #_ac_root #certain_date .bottom-slider h3 {
    font-size: 1em;
    margin: 30px 0 5px;
    font-family: "SourceSansPro-Regular"; }
  #_ac_root #certain_date .bottom-slider .time {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 15px 10px 0 10px;
    background-color: #ffffff;
    box-shadow: 0 0 8px #e6e6e6;
    height: 35px;
    width: 97px;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 0.2s; }
    #_ac_root #certain_date .bottom-slider .time:nth-child(3n+1) {
      margin-left: 0; }
    #_ac_root #certain_date .bottom-slider .time:nth-child(3n) {
      margin-right: 0; }
    #_ac_root #certain_date .bottom-slider .time:hover {
      background-color: #c21526;
      color: #ffffff; }
  #_ac_root .ac-header {
    background-color: #020202;
    margin: 0;
    height: 56px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0; }
    #_ac_root .ac-header h3 {
      color: #ffffff;
      margin: 0;
      display: inline-block;
      vertical-align: middle; }
    #_ac_root .ac-header .back-link {
      position: absolute;
      right: 10px;
      width: 40px;
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer; }
    #_ac_root .ac-header .svg-arrow-left {
      top: 10px;
      right: 10px; }
      #_ac_root .ac-header .svg-arrow-left .cls-1 {
        stroke: #ffffff; }
  #_ac_root .ac-content {
    padding: 20px;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box; }
  #_ac_root .ac-footer {
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    #_ac_root .ac-footer .footer-link {
      text-decoration: none;
      display: inline-flex;
      justify-content: center;
      font-size: 0.7em;
      height: 50px;
      width: 100%;
      align-items: center;
      cursor: pointer; }
    #_ac_root .ac-footer .svg-person {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px; }
    #_ac_root .ac-footer .svg-checkbox-checked {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px; }
      #_ac_root .ac-footer .svg-checkbox-checked g {
        fill: #ffffff; }
    #_ac_root .ac-footer .svg-lock {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px; }
      #_ac_root .ac-footer .svg-lock g {
        fill: #ffffff; }
    #_ac_root .ac-footer.white {
      background-color: #ffffff; }
      #_ac_root .ac-footer.white .footer-link {
        color: #020202; }
    #_ac_root .ac-footer.coal {
      background-color: #333333; }
      #_ac_root .ac-footer.coal .footer-link {
        color: #ffffff; }
      #_ac_root .ac-footer.coal .svg-person g {
        fill: #ffffff; }
    #_ac_root .ac-footer.cherry {
      background-color: #c21526; }
      #_ac_root .ac-footer.cherry .footer-link {
        color: #ffffff; }
  #_ac_root .ac-center {
    margin-bottom: 20px;
    box-shadow: 0 0 8px #e6e6e6; }
    #_ac_root .ac-center:last-child {
      margin-bottom: 0; }
    #_ac_root .ac-center .center-header {
      background-color: #333333;
      color: #ffffff;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 20px;
      cursor: pointer;
      position: relative; }
      #_ac_root .ac-center .center-header span {
        display: flex;
        width: 100%;
        margin: 3px 0;
        font-size: 0.7em; }
      #_ac_root .ac-center .center-header h2 {
        margin: 3px 0;
        display: flex;
        width: 100%;
        font-size: 1em; }
    #_ac_root .ac-center .center-address {
      background-color: #3c3c3c;
      color: #ffffff;
      font-family: "SourceSansPro-ExtraLight";
      padding: 20px; }
      #_ac_root .ac-center .center-address p {
        margin: 0;
        font-size: 0.7em; }
    #_ac_root .ac-center .center-footer {
      background-color: #ffffff;
      padding: 20px;
      display: flex; }
      #_ac_root .ac-center .center-footer > div {
        height: 45px; }
      #_ac_root .ac-center .center-footer p {
        margin: 4px 0;
        font-size: 0.7em;
        text-align: center; }
      #_ac_root .ac-center .center-footer .delimeter {
        background-color: #e6e6e6;
        width: 1.5px; }
  #_ac_root .ac-employee {
    margin-bottom: 20px;
    height: 80px;
    background-color: #3c3c3c;
    position: relative;
    cursor: pointer; }
    #_ac_root .ac-employee:last-child {
      margin-bottom: 0; }
    #_ac_root .ac-employee > img, #_ac_root .ac-employee > div {
      display: inline-flex;
      vertical-align: top;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      height: 100%; }
    #_ac_root .ac-employee .image-filler, #_ac_root .ac-employee img {
      width: 80px; }
    #_ac_root .ac-employee .employee-more-about {
      margin: 0 20px; }
    #_ac_root .ac-employee .employee-info {
      color: #ffffff; }
      #_ac_root .ac-employee .employee-info span {
        display: block;
        width: 100%;
        margin: 3px 0; }
      #_ac_root .ac-employee .employee-info span.employee-specialization {
        font-size: 0.7em; }
  #_ac_root .image-filler {
    align-items: center;
    align-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #8e4343; }
    #_ac_root .image-filler span, #_ac_root .image-filler .svg-person {
      display: block;
      width: 100%;
      text-align: center; }
    #_ac_root .image-filler span {
      font-size: 0.7em;
      margin-top: 4px;
      color: rgba(255, 255, 255, 0.5); }
    #_ac_root .image-filler .svg-person {
      width: 20px;
      height: 20px; }
      #_ac_root .image-filler .svg-person g {
        fill: rgba(255, 255, 255, 0.5); }
  #_ac_root .svg-arrow-right, #_ac_root .svg-arrow-left {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px; }
    #_ac_root .svg-arrow-right .cls-1, #_ac_root .svg-arrow-left .cls-1 {
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-width: 2px; }
  #_ac_root .svg-arrow-right-slider, #_ac_root .svg-arrow-left-slider {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px; }
    #_ac_root .svg-arrow-right-slider .cls-1, #_ac_root .svg-arrow-left-slider .cls-1 {
      fill: none;
      stroke: #222;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px; }
  #_ac_root .ac-service {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    padding: 20px 20px 20px 0;
    background-color: #ffffff;
    box-shadow: 0 0 8px #e6e6e6; }
    #_ac_root .ac-service.single {
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 50px;
      cursor: pointer;
      position: relative; }
      #_ac_root .ac-service.single .svg-arrow-right .cls-1 {
        stroke: #020202; }
    #_ac_root .ac-service:last-child {
      margin-bottom: 0; }
    #_ac_root .ac-service .service-checkbox {
      display: inline-flex;
      height: 100%;
      align-items: center;
      align-content: center;
      justify-content: center;
      cursor: pointer; }
      #_ac_root .ac-service .service-checkbox svg {
        width: 25px;
        height: 25px;
        margin: 20px; }
    #_ac_root .ac-service .service-info {
      display: inline-flex;
      height: 100%;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      padding-right: 20px; }
      #_ac_root .ac-service .service-info p {
        width: 100%;
        margin: 0; }
      #_ac_root .ac-service .service-info .service-title {
        font-family: "SourceSansPro-Semibold";
        margin-bottom: 4px; }
      #_ac_root .ac-service .service-info .service-price {
        display: inline-block;
        font-family: "SourceSansPro-Semibold";
        font-size: 0.9em;
        margin-right: 15px; }
      #_ac_root .ac-service .service-info .service-time {
        display: inline-block;
        font-size: 0.8em; }
  #_ac_root h2 {
    font-size: 1.4em;
    font-family: "SourceSansPro-ExtraLight"; }
  #_ac_root h3 {
    font-size: 1.2em;
    font-family: "SourceSansPro-ExtraLight"; }
  #_ac_root p {
    font-size: 1em;
    line-height: 1; }
  #_ac_root .label {
    color: #8d8d8d; }
