/* Base */
@import "./base/variables";
@import "./base/fonts";

/* Containers */
@import "./containers/routes";
@import "./containers/online_appointment";

/* Components */
@import "./components/header";
@import "./components/footer";
@import "./components/center";

/* =================================================================================================== */
/* < COMMON STYLING > */
/* =================================================================================================== */

body {
  margin: 0;
  padding: 0;
  font-family: $acRegular;
  font-size: 16px;
  line-height: 1;
}

h2 {
	font-size: 1.4em;
	font-family: $acExtraLight;
}

h3 {
	font-size: 1.2em;
	font-family: $acExtraLight;
}

.label {
	color: $acTextGrey;
}