/* Base */
/* =================================================================================================== */
/* < COLORS > */
/* =================================================================================================== */
/* Darks */
/* Brights */
/* Colored */
/* =================================================================================================== */
/* < FONTS > */
/* =================================================================================================== */
/* =================================================================================================== */
/* < COMPLEX VALUES > */
/* =================================================================================================== */
/* Shadows */
@font-face {
  font-family: 'SourceSansPro-Black';
  src: url("../fonts/SourceSansPro/SourceSansPro-Black.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Black.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Black.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Black.svg#SourceSansPro-Black") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Bold") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src: url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../fonts/SourceSansPro/SourceSansPro-Light.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Light.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Light.svg#SourceSansPro-Light") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url("../fonts/SourceSansPro/SourceSansPro-Semibold.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Semibold.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Semibold.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format("svg");
  font-style: normal;
  font-weight: normal; }

/* Containers */
#ac_layout {
  position: relative;
  display: inline-block; }
  #ac_layout > div {
    width: 375px;
    height: 667px;
    border: 2px solid #e6e6e6;
    background-color: #f5f5f5;
    position: relative; }
  #ac_layout .app-switch {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -45px;
    top: 15px;
    border-radius: 50%;
    border: 2px solid #020202;
    color: #020202;
    font-size: 29px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg); }

#online_appointment {
  background-color: #f5f5f5; }
  #online_appointment .main-link {
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 15px 0;
    height: 70px;
    background-color: #ffffff;
    margin: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    border-left: 5px solid #e6e6e6;
    color: #8d8d8d;
    text-decoration: none;
    box-shadow: 0 0 8px #e6e6e6; }
    #online_appointment .main-link .svg-arrow-right {
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px; }
      #online_appointment .main-link .svg-arrow-right .cls-1 {
        fill: none;
        stroke: #e6e6e6;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        stroke-width: 2px; }
    #online_appointment .main-link.chosen {
      border-left: 5px solid #c21526;
      color: #020202; }
      #online_appointment .main-link.chosen .svg-arrow-right .cls-1 {
        stroke: #020202; }
    #online_appointment .main-link span {
      display: block;
      margin: 3px 0;
      width: 100%; }
    #online_appointment .main-link span.info-text {
      font-size: 0.7em; }
  #online_appointment #svg_lock {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    margin-top: 3px; }
    #online_appointment #svg_lock g {
      fill: #ffffff; }

#choose_center #svg_lock {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  margin-top: 3px; }
  #choose_center #svg_lock g {
    fill: #ffffff; }

#choose_center .svg-arrow-right {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px; }
  #choose_center .svg-arrow-right .cls-1 {
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 2px; }

#choose_employee .svg-info {
  display: inline-block;
  width: 12px;
  height: 12px; }
  #choose_employee .svg-info g {
    fill: #ffffff; }

#choose_employee .svg-arrow-right {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px; }
  #choose_employee .svg-arrow-right .cls-1 {
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 2px; }

#employee_info .employee-photo {
  text-align: center;
  margin: 20px; }

#employee_info .image-filler {
  width: 100px;
  height: 100px;
  border-radius: 50%; }
  #employee_info .image-filler span {
    margin-top: 6px; }

#employee_info .employee-specialization, #employee_info .employee-name {
  text-align: center;
  margin: 20px; }

#employee_info .employee-specialization {
  font-size: 0.8em;
  margin: 20px 0 7px 0; }

#employee_info h3.employee-name {
  font-family: "SourceSansPro-Regular";
  margin: 7px 0 30px 0; }

#employee_info .employee-description {
  margin: 20px;
  font-size: 0.9em;
  line-height: 1.25;
  color: #333333; }

/* Components */
.ac-header {
  background-color: #020202;
  margin: 0 0 15px 0;
  height: 56px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  position: relative; }
  .ac-header h3 {
    color: #ffffff;
    margin: 0;
    display: inline-block;
    vertical-align: middle; }
  .ac-header .back-link {
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle; }
  .ac-header .svg-arrow-left {
    display: inline-block;
    width: 20px;
    height: 20px; }
    .ac-header .svg-arrow-left .cls-1 {
      fill: none;
      stroke: #ffffff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-width: 2px; }

.ac-footer {
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .ac-footer .footer-link {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    font-size: 0.8em;
    height: 50px;
    width: 100%;
    align-items: center;
    cursor: pointer; }
  .ac-footer .svg-person {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    margin-top: 3px; }
  .ac-footer.white {
    background-color: #ffffff; }
    .ac-footer.white .footer-link {
      color: #020202; }
  .ac-footer.coal {
    background-color: #333333; }
    .ac-footer.coal .footer-link {
      color: #ffffff; }
    .ac-footer.coal .svg-person g {
      fill: #ffffff; }
  .ac-footer.cherry {
    background-color: #c21526; }
    .ac-footer.cherry .footer-link {
      color: #ffffff; }

.ac-center {
  margin: 20px;
  box-shadow: 0 0 8px #e6e6e6; }
  .ac-center .center-header {
    background-color: #333333;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    cursor: pointer;
    position: relative; }
    .ac-center .center-header span {
      display: flex;
      width: 100%;
      margin: 3px 0;
      font-size: 0.7em; }
    .ac-center .center-header h2 {
      margin: 3px 0;
      display: flex;
      width: 100%;
      font-size: 1em; }
  .ac-center .center-address {
    background-color: #3c3c3c;
    color: #ffffff;
    font-family: "SourceSansPro-ExtraLight";
    padding: 20px; }
    .ac-center .center-address p {
      margin: 0;
      font-size: 0.7em; }
  .ac-center .center-footer {
    background-color: #ffffff;
    padding: 20px;
    display: flex; }
    .ac-center .center-footer > div {
      height: 45px; }
    .ac-center .center-footer p {
      margin: 4px 0;
      font-size: 0.7em;
      text-align: center; }
    .ac-center .center-footer .delimeter {
      background-color: #e6e6e6;
      width: 1.5px; }

.ac-employee {
  margin: 20px;
  box-shadow: 0 0 8px #e6e6e6;
  height: 80px;
  background-color: #3c3c3c;
  position: relative;
  cursor: pointer; }
  .ac-employee > img, .ac-employee > div {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%; }
  .ac-employee .image-filler, .ac-employee img {
    width: 80px; }
  .ac-employee .employee-more-about {
    margin: 0 20px; }
  .ac-employee .employee-info {
    color: #ffffff; }
    .ac-employee .employee-info span {
      display: block;
      width: 100%;
      margin: 3px 0; }
    .ac-employee .employee-info span.employee-specialization {
      font-size: 0.7em; }

.image-filler {
  align-items: center;
  align-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #8e4343; }
  .image-filler span, .image-filler .svg-person {
    display: block;
    width: 100%;
    text-align: center; }
  .image-filler span {
    font-size: 0.7em;
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.5); }
  .image-filler .svg-person {
    width: 20px;
    height: 20px; }
    .image-filler .svg-person g {
      fill: rgba(255, 255, 255, 0.5); }

/* =================================================================================================== */
/* < COMMON STYLING > */
/* =================================================================================================== */
body {
  margin: 0;
  padding: 0;
  font-family: "SourceSansPro-Regular";
  font-size: 16px;
  line-height: 1;
  color: #020202; }

h2 {
  font-size: 1.4em;
  font-family: "SourceSansPro-ExtraLight"; }

h3 {
  font-size: 1.2em;
  font-family: "SourceSansPro-ExtraLight"; }

.label {
  color: #8d8d8d; }
