/* Base */
@import "./base/variables";
@import "./base/fonts";

/* Containers */
@import "./containers/routes";
@import "./containers/online_appointment";
@import "./containers/choose_center";
@import "./containers/choose_employee";
@import "./containers/employee_info";
@import "./containers/choose_main_services";

/* Components */
@import "./components/header";
@import "./components/footer";
@import "./components/center";
@import "./components/employee";
@import "./components/image_filler";

/* =================================================================================================== */
/* < COMMON STYLING > */
/* =================================================================================================== */

body {
  margin: 0;
  padding: 0;
  font-family: $acRegular;
  font-size: 16px;
  line-height: 1;
  color: $acDark;
}

h2 {
	font-size: 1.4em;
	font-family: $acExtraLight;
}

h3 {
	font-size: 1.2em;
	font-family: $acExtraLight;
}

.label {
	color: $acTextGrey;
}

.svg-arrow-right, .svg-arrow-left {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  .cls-1 {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }
}